---
---

$small: "only screen and (max-width: 767px)"

body
    overflow: hidden

#stats
    position: absolute
    right: 0
    top: 0

#content
    padding-right: 0
    @media #{$small}
        padding-left: 0
        position: fixed
        left: 0
        right: 0
        top: 55px
        bottom: 0
        height: auto

    // cannot use "&:fullscreen, &:-webkit-fullscreen, &:-moz-fullscreen" because
    // when Chrome sees :-moz-fullscreen it rejects entire the rule
    @mixin fullscreen
        position: fixed
        left: 0
        top: 0
        right: 0
        bottom: 0
        margin: 0
        padding: 0
        width: 100%
        height: 100%
        footer
            left: 10px
    &:fullscreen
        @include fullscreen
    &:-webkit-full-screen
        @include fullscreen
    &:-moz-full-screen
        @include fullscreen

#example-wrapper
    position: relative
    height: 100%
    
    canvas.main
        width: 100%
        height: 100%

    div.info
        position: absolute
        left: 0
        top: 0
        width: 100%
        box-sizing: border-box
        padding: 5px 80px 0 5px
        color: rgba(255, 255, 255, 0.5)
        font-size: 80%
        white-space: pre
        text-shadow: 0px 0px 12px black

    button.fullscreen
        position: absolute
        left: 5px
        bottom: 30px
        background: none
        border: none
        outline: none
        text-shadow: 0px 0px 12px black
        color: rgba(255, 255, 255, 0.5)
        background: rgba(0, 0, 0, 0.2)
        font-size: 16px
        line-height: 16px
        margin: 0
        padding: 5px
        z-index: 2
        &:hover
            color: rgba(255, 255, 255, 0.8)

footer
    position: absolute
    bottom: 0
    left: 30px
    font-size: 80%
    color: rgba(255, 255, 255, 0.5)
    hr
        display: none
    @media #{$small}
        position: fixed
        left: 10px

.error-popup
    position: fixed
    right: 50px
    bottom: 50px
    width: 50%
    min-width: 280px
    z-index: 100
    background: white
    border-top: 10px solid #ffafaf
    padding: 10px
    padding-top: 0
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2), 0px 2px 7px 0px rgba(0,0,0,0.1), 0px 4px 15px 0px rgba(0,0,0,0.1)
    h2
        color: #333
        -webkit-font-smoothing: antialiased
    pre
        max-height: 300px
        overflow: auto
        background: #fafafa
        padding: 5px

img.logo-hyper3d
    position: fixed
    right: 20px
    bottom: 20px
    width: 120px
    max-width: 20%
    opacity: 0.3
